<form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Type">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Review">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Detail</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Write about restaurant">
  </div>
  <button type="submit" class="btn btn-primary">Add Restaurant</button>
</form>
